version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend-csc480-container
    ports:
      - "7000:3000"
    environment:
      NODE_ENV: