name: Deploy
on:
    push:
        branches: [main, feat/setup_github_workflows]
    workflow_dispatch:


jobs:
    build:
        name: Test
        runs-on: ubuntu-latest
        steps:
            - run: echo Hello CSC480.
